.card_item {

    &:hover .view_cart {
        visibility: visible;
        cursor: pointer;
        background-color: #da8b3b85;
    }


    .view_cart {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        visibility: hidden;



        .text_hover {
            background-color: rgba(0, 0, 0, 0.751);
            padding: 1rem;
            margin-bottom: 0.25rem;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }

}