$cube--light: #ffffff;
$cube--primary: #1e3020;
$cube--gray: #978f88;
$cube--potters: #855136;
$cube--warning: #f4c933;
$cube--ming: #35697c;
$cube--mandys: #efbeb0;
$cube--morning: #8bd3df;
$cube--danger: #e52b51;
$cube--apple: #59b742;

$median--primary: #2a382a;
$medain--light: #dcd5d0;
$median--cape: #a66044;
$median--light-primary: #77ab82;
$median--slate: #79849a;

$material--vibrant: #a46042;
$material--muted: #7c7c72;
$material--dark-vibrant: #6e3b15;
$material--dark-muted: #463a32;
$material--light-vibrant: #faf4f4;